# This is the config file, everything works well when set to default
# You only need to absolutely change the default "bot token" by your bot token

# Bot prefix.
PREFIX=w.,W.

# Your discord bot token
TOKEN="thIsIsaDiscorDToken.Xw41Og.Ix0IhJlhgEbEyK_CJwrGgucn9rk"

# The bot status is what the bot will be displaying as *Currently Playing*
STATUS="WaifuBot | w.help"

# This is the maximum number of random characters
# When pulled, the characters are sorted out of popularity
# That means you can roll out of the 15000 most popular characters
# The maximum is around 75000 right now, but is growing with the https://anilist.co/ database
MAX_CHAR_ROLL=15000

# This means that every time the user makes a meaningful action with the bot
# he has a change to drop a character to claim
# The more the user interact, the more chance he has to drop a character
INTERACT_DROPS=20

# List_Len is used to configure how big the list embed is
LIST_LEN=10

# The same as the roll, but you can make it lower so people
# are more likely to know the character
MAX_CHAR_DROP=5000

# When a user is checking their list, it refreshes the first embed sent if
# you are within X minutes of sending it
LIST_UPDATE_TIME="5m"

# How much time between each user roll
ROLL_COOLDOWN="4h"

# Name of the DB, the one set in the docker-compose file
DB_NAME="waifudb"

# Host of the DB, should be `db` if ran with docker-compose
DB_HOST="db"

# Password of the db, set inside the docker-compose file
DB_PASS="waifudb"

# User, see above
DB_USER="postgres"

# If you want to backup your whole database gzipped in dropbox
# you can just put a token there
DROPBOX_TOKEN="token_here"