body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.main-content {
  animation: fadeIn 0.3s ease-in;
}

.content-width {
  max-width: 1536px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
