name: Build Image

on:
  push:
    branches:
      - postgres
    paths:
      - "**.go"

jobs:
  build-containers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: karitham
          password: ${{ secrets.GR_PAT }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          builder: ${{ steps.buildx.outputs.name }}
          tags: ghcr.io/karitham/waifubot:postgres
          cache-from: type=registry,ref=karitham/waifuBot:postgres
          cache-to: type=inline
