name: Build Image

on: push

jobs:
  build-containers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ghcr.io
          username: karitham
          password: ${{ secrets.GR_PAT }}

      - name: build and push
        run: docker buildx build --platform linux/arm64,linux/amd64 --push --tag ghcr.io/karitham/waifubot:${GITHUB_REF##*/} .
